body{
    background-color: cyan;
    border: dashed;
}
h1{
    background-color: aqua;
    font-size: medium;
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    background-color: aquamarine;
    font-size: medium;
    font-style: initial;
}